{
    "port": 3000,
    "apiKey": "45647242", // Get this and your secret by registering for tokbox.com
    "apiSecret": "653933c7801547e90be461d4bcd69b64059a19e2",
    "chromeExtensionId": ""  // Get this from https://github.com/opentok/screensharing-extensions
}